:root {
    --main-color: #2B1103;
    --branch-color: #DCC69C;
    --white: #FFFFFF;
    --border: .1rem solid rgba(220, 198, 156, .3);
}


.navbar {
    justify-content: space-around;
    gap: 1.5rem;
    margin-top: 2rem;
    background-color: var(--branch-color);   
    padding: .5rem 2rem;
    border-radius: .5rem;
  }
  
  .navbar-nav {
    font-size: 1.8rem;
    color: var(--main-color);
    padding: 1rem 3rem;
    border-radius: .5rem;
  }
  
  .navbar-link {
    font-size: 1.8rem;
    color: var(--main-color);
    padding: 1rem 3rem;
    border-radius: .5rem;
  }