:root {
    --main-color: #2B1103;
    --branch-color: #DCC69C;
    --white: #FFFFFF;
    --border: .1rem solid rgba(220, 198, 156, .3);
}

* {
    font-family: sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

*::selection {
    background-color: var(--branch-color);
    color: var(--main-color);
}

*::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--branch-color);
    border-radius: 5rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

body {
    background-color: var(--main-color);
}

section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    cursor: pointer;
    padding: 1rem 3rem;
    border: var(--border);
    font-size: 1.8rem;
    color: var(--branch-color);
    text-align: center;
    text-transform: capitalize;
    transition: .2s linear;
    margin-top: 1rem;
    background-color: var(--main-color);
}

.btn:hover {
    border-radius: 5rem;
    background-color: var(--branch-color);
    color: var(--main-color);
}

.header {
    padding-bottom: 0;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.header .flex .logo {
    color: var(--branch-color);
    font-size: 2.5rem;
}

.header .flex .btn {
    margin-top: 0;
}

.header .flex .fa-bars{
    font-size: 3rem;
    cursor: pointer;
    color: var(--branch-color);
    display: none;
}

.header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
    margin-top: 2rem;
    background-color: var(--branch-color);   
    padding: .5rem 2rem;
    border-radius: .5rem;
}

.header .navbar a {
    font-size: 1.8rem;
    color: var(--main-color);
    padding: 1rem 3rem;
    border-radius: .5rem;
}

.header .navbar a:hover {
    background-color: var(--main-color);
    color: var(--branch-color);
    transition: .1s linear;
}

.home .box img {                /*img values*/
    border-radius: .5rem;
    height: 60vh;
    width: 100%;
    object-fit: cover;           
}

.home .box .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.home .box .flex h3 {
    font-size: 2.5rem;
    color: var(--branch-color);
    text-transform: capitalize;
}

.home .swiper-button-prev {
    left: 0%;
}

.home .swiper-button-next {
    right: 0;
}

.swiper-button-next,
.swiper-button-prev {
    padding: 1rem 2rem;
    background: var(--white);
    top: 40%;
    opacity: .7;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: var(--main-color);
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;

}

.availability form .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.availability form .flex .box {
    flex: 1 1 20rem;
}

.availability form .flex .box p {
    font-size: 2rem;
    color: var(--branch-color);
}

.availability form .flex .box .input {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.8rem;
    background-color: var(--main-color);
    color: var(--white);
    border-bottom: var(--border);
    margin: 1rem 0;
}

.availability form .flex .box input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    text-align: center;
    align-items: center;
}

.about .row .image {
    flex: 1 1 40rem;
}

.about .row .image img {
    width: 30rem;
    border-radius: .5rem;
}

.about .row .content {
    flex: 1 1 40rem;
}

.about .row .content h3 {
    font-size: 2.5rem;
    color: var(--branch-color);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.about .row .content p {
    line-height: 2;
    padding: 1.7rem 0;
    font-size: 1.6rem;
    color: var(--branch-color);
}

.about .row.revers {
    flex-flow: row-reverse;
    margin: 3rem 0;
    flex-wrap: wrap;
}

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}

.services .box-container .box {
    padding: 2rem;
    text-align: center;
}

.services .box-container .box img {
    height: 7rem;
    margin-bottom: 1rem;
}

.services .box-container .box h3 {
    font-size: 2rem;
    color: var(--branch-color);
    text-transform: capitalize;
    margin: 1rem 0;
}

.services .box-container .box p {
    line-height: 2;
    font-size: 1.5rem;
    color: var(--branch-color);
}

.reservation form {
    border: var(--border);
    color: var(--branch-color);
}

.reservation form .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.reservation form h3 {
    background-color: var(--branch-color);
    color: var(--main-color);
    font-size: 2.5rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    padding: 1.2rem;
    text-align: center;
    text-transform: capitalize;
}

.reservation form .flex .box {
    flex: 1 1 40rem;
}

.reservation form .flex .box p {
    font-size: 1.8rem;
    background-color: var(--main-color);
}



.reservation form .flex .box .input {
    padding: 1rem 0;
    margin: 1rem 0;
    border-bottom: var(--border);
    background: var(--main-color);
    color: var(--white);
    font-size: 1.8rem;
    width: 100%;
}

.reservation form .flex .box input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.gallery img {
    height: 40rem;
    width: 60rem;
    border-radius: .5rem;
    object-fit: cover;
    margin-bottom: 4rem;
    user-select: none;

}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
}

.swiper-pagination-bullet {
    background-color: var(--branch-color);
}

.swiper-pagination-bullet-active {
    background-color: var(--white);
}

.contact .row {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    flex-wrap: wrap;
}

.contact .row form {
    flex: 1 1 40rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
}

.contact .row .faq {
    flex: 1 1 40rem;
}

.contact .row form h3 {
    margin-bottom: 1rem;
    border-radius: .5rem;
    padding: 1.3rem;
    color: var(--main-color);
    background-color: var(--branch-color);
    font-size: 2.5rem;
    text-transform: capitalize;
}

.contact .row form .box {
    padding: 1rem 0;
    margin: 1rem 0;
    border-bottom: var(--border);
    font-size: 1.8rem;
    color: var(--branch-color);
    background: var(--main-color);
    width: 100%
}

.contact .row form .box::placeholder {
    color: rgb(220, 198, 156, .6);
}

.contact .row form textarea {
    height: 15rem;
    resize: none;
}

.contact .row .faq .title {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    color: var(--branch-color);
    text-transform: capitalize;
    text-align: center;
}

.contact .row .faq .box {
    border-radius: .5rem;
    border: var(--border);
    margin-top: 2rem;
}

.contact .row .faq .box h3 {
    background-color: var(--branch-color);
    color: var(--main-color);
    padding: 1.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    cursor: pointer;
}

.contact .row .faq .box p {             /*hidden answers to FAQ*/
    padding: 1.5rem 2rem;
    line-height: 2;
    font-size: 1.6rem;
    color: var(--branch-color);
    display: none;
}

.contact .row .faq .box.active p {      /*revealed answers to FAQ*/
    display: inline-block;
} 

.reviews {
    padding-top: 0;
}

.reviews .box {                         /*image center*/
    text-align: center;
    user-select: none;
    padding: 2rem;
    margin-bottom: 4rem;
}

.reviews .box img {                     /*image values*/
    height: 7rem;
    width: 7rem;
    border-radius: 50%;     
    object-fit: cover;
    margin-bottom: .5rem;
}

.reviews .box h3 {                      /*name*/
    margin: 1rem 0;
    font-size: 2rem;
    color: var(--branch-color);
}

.reviews .box p {                       /*reviews*/
    line-height: 2;
    font-size: 1.7rem;
    color: var(--branch-color);
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 2rem;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.8rem;
    color: var(--branch-color);
    padding: 1rem 0;
}

.footer .box-container .box a:hover {
    color: var(--white);
}

.footer .box-container .box:first-child i {
    margin-right: 1.7rem;
}

.footer .box-container .box:nth-child(2) {
    text-align: center;
}

.footer .box-container .box:last-child {
    text-align: right;
}

.footer .box-container .box:last-child i {
    margin-left: 1.7rem;
}

.footer .credit {
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    color: var(--main-color);
    background-color: var(--branch-color);
    font-size: 2rem;
}





/*login starts========>*/

.container {                    /*login container*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 50px;
    background-color: var(--main-color);
    min-height: 100vh;              
}

.container form {               /*form container*/
    width: 600px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.container form .links {        /*for google and facebook*/
    background: #ffffff;
    padding: 25px 12px;
}

.container form .title {        /*login in with*/
    font-size: 17px;
    padding-bottom: 15px;
    color: var(--main-color); 
}

.container form .links .buttons .btn {  /*fb and google button*/
    font-size: 17px;
    margin: 5px;
    display: inline-block;
    background-color: #ddd;
    border-radius: 5px;
    padding: 10px 30px;
}

.container form .links .buttons a {
    color: black;
}

.container form .links .buttons .btn i {    /*fb and google icon*/
    color: black;
    padding-right: 5px;
}

.container form .links .buttons .btn:hover {    /*fb and google button hover*/
    color: #fff;
    background: var(--main-color);
}

.container form .links .buttons .btn:hover i{   /*fb and google icon hover*/
    color: #fff;
}

.container form .input-box {        /*input container for email and password*/
    padding: 30px;
    background: var(--branch-color);
}

.container form .input-box .input {     /*every input*/
    margin: 15px auto;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0.5px 10px rgba(0,0,0,.1);
    border: var(--border);   
     
}

.container form .input-box .input input {  /*each input*/
    height: 100%;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #333;
    text-transform: none;
}

.container form .input-box .input span {    /*input icon*/
    color: #999;
    padding-right: 5px;
    padding-left: 15px;
    font-size: 20px;
}

.container form .checkbox {     /*checkbox*/
    text-align: left;
    padding: 10px 0;
}

.container form .checkbox label {   /*checkbox label*/
    font-size: 17px;
    color: #333;
    cursor: pointer;
}

.container form .log-in-btn {  /*log in button*/
    padding: 10px 40px;
    margin: 15px 0;
    font-size: 17px;
    color: white;   
    border-radius: 5px;
    background: var(--main-color);
    cursor: pointer;
    transition: .2s linear;
}

.container form .log-in-btn:hover {  /*hover*/
    background: var(--main-color);
    color: white;   
    font-weight: bold;
    letter-spacing: 1px;
}

.container form .register-btn {  /*register button*/
    padding: 10px 40px;
    margin: 15px 0;
    font-size: 17px;
    color: white;   
    border-radius: 5px;
    background: var(--main-color);
    cursor: pointer;
    transition: .2s linear;
}

.container form .register-btn:hover {  
    background: var(--main-color);
    color: white;   
    font-weight: bold;
    letter-spacing: 1px;
}

.container form .btn {              /*align buttons in column*/
    display: inline-block;
    width: 100%;
}

/*login ends=====>*/

























/* media queries || resonsiveness in width*/

@media (max-width:991px) {              /*width 3/4 the screen*/

    html {
        font-size: 55%;
    }
    
    .header .flex .fa-bars {
        display: inline-block;
    }
    
    .header .flex .btn {
        display: none;
    }

    .header .navbar {
        flex-flow: column;
        padding: 2rem;
        display: none;
    }

    .header .navbar.active {
        display: flex;
    }
}

@media (max-width:768px) {          /*width half the screen*/

    .home .box img {
        height: 40vh;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 35%;
    }


}

@media (max-width:450px) {          /*width 1/4 the screen closest to android phone (380px)*/

    html {
        font-size: 50%;
    }

    .header .flex .logo {
        font-size: 2rem;
    }

    .home .box img {
        height: 25rem;
    }

    .about .row .image img {
        width: 100%;
    }
}

