 /* For Chrome, Safari, and newer versions of Edge */
 input[type="number"]::-webkit-inner-spin-button,
 input[type="number"]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }
 
 /* For Opera and Opera GX */
 input[type="number"]::-webkit-inner-spin-button,
 input[type="number"]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }
 
 /* Additional styles for Opera */
 @supports (-webkit-appearance: none) and (not (-ms-ime-align: auto)) {
     input[type="number"] {
         -webkit-appearance: none;
         margin: 0;
     }
 }



:root {
    --black: #000000;
    --white: #FFFFFF;
    --main-color: #2B1103;
    --branch-color: #DCC69C;
    --light-color: #888888; 
    --light-bg: #eeeeee;
    --border: .1rem solid rgba(0,0,0,0.2);
}

* {
    font-family: sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

*::selection {
    background-color: var(--branch-color);
    color: var(--main-color);
}

*::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--branch-color);
    border-radius: 5rem;
}

html {
    font-size: 60%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

body {
    background-color: var(--main-color);
}

body.light {                  /*body with the class dark*/
    --black: #ffffff;
    --white: #222222;
    --light-color: #aaaaaa; 
    --light-bg: #333;
    --border: .1rem solid rgba(255,255,255,.2);
    --main-color: #DCC69C;
    --branch-color: #2B1103;
}

section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    cursor: pointer;
    padding: 1rem 3rem;
    border: var(--border);
    font-size: 1.8rem;
    color: var(--branch-color);
    text-align: center;
    text-transform: capitalize;
    transition: .2s linear;
    margin-top: 1rem;
    background-color: var(--main-color);
}

.btn:hover {
    border-radius: 5rem;
    background-color: var(--branch-color);
    color: var(--main-color);
}

.header {
    padding-bottom: 0;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.header .flex .logo {
    color: var(--branch-color);
    font-size: 2.5rem;
}

.header .flex .btn {
    margin-top: 0;
}

.header .flex .fa-bars{
    font-size: 3rem;
    cursor: pointer;
    color: var(--branch-color);
    display: none;
}

.header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
    margin-top: 2rem;
    background-color: var(--branch-color);   
    padding: .5rem 2rem;
    border-radius: .5rem;
}

.header .navbar a {
    font-size: 1.8rem;
    color: var(--main-color);
    padding: 1rem 3rem;
    border-radius: .5rem;
}

.header .navbar a:hover {
    background-color: var(--main-color);
    color: var(--branch-color);
    transition: .1s linear;
}

.header .navbar .active {
    background-color: var(--main-color);
    color: var(--branch-color);
}

.header .navbar #light-btn {
    font-size: 1.8rem;
    color: var(--main-color);
    border-radius: .5rem;
    height: 4.5;
    cursor: pointer;
    width: 3rem;
    line-height: 2.5rem;
    text-align: center;
    margin-left: .5rem;
}

.header .navbar #light-btn:hover {
    background-color: var(--main-color);
    color: var(--branch-color);
}


.home .box img {                /*img values*/
    border-radius: .5rem;
    height: 60vh;
    width: 100%;
    object-fit: cover;           
}

.home .box .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.home .box .flex h3 {
    font-size: 2.5rem;
    color: var(--branch-color);
    text-transform: capitalize;
}

.home .swiper-button-prev {
    left: 0%;
    top: 40%;
}

.home .swiper-button-next {
    right: 0%;
    top: 40%;

}


.swiper-button-next,
.swiper-button-prev {
    padding: 1rem 2rem;
    background: var(--white);
    opacity: .7;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: var(--main-color);
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;

}

.availability form .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.availability form .flex .box {
    flex: 1 1 20rem;
}

.availability form .flex .box p {
    font-size: 2rem;
    color: var(--branch-color);
}

.availability form .flex .box .input {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.8rem;
    background-color: var(--main-color);
    color: var(--white);
    border-bottom: var(--border);
    margin: 1rem 0;
}

.availability form .flex .box input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    text-align: center;
    align-items: center;
}

.about .row .image {
    flex: 1 1 40rem;
}

.about .row .image img {
    width: 30rem;
    border-radius: .5rem;
}

.about .row .content {
    flex: 1 1 40rem;
}

.about .row .content h3 {
    font-size: 2.5rem;
    color: var(--branch-color);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.about .row .content p {
    line-height: 2;
    padding: 1.7rem 0;
    font-size: 1.6rem;
    color: var(--branch-color);
}

.about .row.revers {
    flex-flow: row-reverse;
    margin: 3rem 0;
    flex-wrap: wrap;
}

.services .box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}

.services .box-container .box {
    padding: 2rem;
    text-align: center;
}

.services .box-container .box img {
    height: 7rem;
    margin-bottom: 1rem;
}

.services .box-container .box h3 {
    font-size: 2rem;
    color: var(--branch-color);
    text-transform: capitalize;
    margin: 1rem 0;
}

.services .box-container .box p {
    line-height: 2;
    font-size: 1.5rem;
    color: var(--branch-color);
}

.reservation form {
    border: var(--border);
    color: var(--branch-color);
}

.reservation form .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.reservation form h3 {
    background-color: var(--branch-color);
    color: var(--main-color);
    font-size: 2.5rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    padding: 1.2rem;
    text-align: center;
    text-transform: capitalize;
}

.reservation form .flex .box {
    flex: 1 1 40rem;
}

.reservation form .flex .box p {
    font-size: 1.8rem;
    background-color: var(--main-color);
}



.reservation form .flex .box .input {
    padding: 1rem 0;
    margin: 1rem 0;
    border-bottom: var(--border);
    background: var(--main-color);
    color: var(--white);
    font-size: 1.8rem;
    width: 100%;
}

.reservation form .flex .box input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.gallery img {
    border-radius: .5rem;
    object-fit: cover;
    margin-bottom: 4rem;
    user-select: none;
    max-height: 400px;

}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
}

.swiper-pagination-bullet:not(:last-child) {
    background: var(--white);
  }


.contact .row {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    flex-wrap: wrap;
}


.contact .row .faq {
    flex: 1 1 40rem;
}

/* .contact .row form {
    flex: 1 1 40rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
}
    .contact .row form h3 {
    margin-bottom: 1rem;
    border-radius: .5rem;
    padding: 1.3rem;
    color: var(--main-color);
    background-color: var(--branch-color);
    font-size: 2.5rem;
    text-transform: capitalize;
}

.contact .row form .box {
    padding: 1rem 0;
    margin: 1rem 0;
    border-bottom: var(--border);
    font-size: 1.8rem;
    color: var(--branch-color);
    background: var(--main-color);
    width: 100%
}

.contact .row form .box::placeholder {
    color: rgb(220, 198, 156, .6);
}

.contact .row form textarea {
    height: 15rem;
    resize: none;
} */ 

.contact .row .faq .title {
    margin-bottom: 3rem;
    font-size: 2.5rem;
    color: var(--branch-color);
    text-transform: capitalize;
    text-align: center;
}

.contact .row .faq .box {
    border-radius: .5rem;
    border: var(--border);
    margin-top: 2rem;
}

.contact .row .faq .box h3 {
    background-color: var(--branch-color);
    color: var(--main-color);
    padding: 1.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    cursor: pointer;
}

.contact .row .faq .box p {             /*hidden answers to FAQ*/
    padding: 1.5rem 2rem;
    line-height: 2;
    font-size: 1.6rem;
    color: var(--branch-color);
    display: none;
}

.contact .row .faq .box.active p {      /*revealed answers to FAQ*/
    display: inline-block;
} 

.reviews {
    padding-top: 0;
}

.reviews .box {                         /*image center*/
    text-align: center;
    user-select: none;
    padding: 2rem;
    margin-bottom: 4rem;
}

.reviews .box img {                     /*image values*/
    height: 7rem;
    width: 7rem;
    border-radius: 50%;     
    object-fit: cover;
    margin-bottom: .5rem;
}

.reviews .box h3 {                      /*name*/
    margin: 1rem 0;
    font-size: 2rem;
    color: var(--branch-color);
}

.reviews .box p {                       /*reviews*/
    line-height: 2;
    font-size: 1.7rem;
    color: var(--branch-color);
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 2rem;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.8rem;
    color: var(--branch-color);
    padding: 1rem 0;
}

.footer .box-container .box a:hover {
    color: var(--white);
}

.footer .box-container .box:first-child i {
    margin-right: 1.7rem;
}

.footer .box-container .box:nth-child(2) {
    text-align: center;
}

.footer .box-container .box:last-child {
    text-align: right;
}

.footer .box-container .box:last-child i {
    margin-left: 1.7rem;
}

.footer .credit {
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    color: var(--main-color);
    background-color: var(--branch-color);
    font-size: 2rem;
}






/*user-btn*/


.header .navbar img {
    background: var(--branch-color);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    width: 40px;

}

.header .navbar img:hover {
    background: var(--main-color);
    }

.header .navbar {
    position: relative;
}
    
.header .navbar .profile {           /*profile toggled*/
    position: absolute; 
    top: 150%; right: .1rem;
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    width: 30rem;
    transform: scale(0);
    transform-origin: top right;    
    transition: .2s linear;        
    z-index: 1000; 
} 

.header .navbar .profile.active {
    transform: scale(1);
}

.header .navbar .profile img {        /*header img, scaling of img*/
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;              /*scale to cover whole container*/
    margin-bottom: .5rem;
}

.header .navbar .profile h3{         /*profile name*/
    font-size: 2rem;
    color:var(--black);
}

.header .navbar .profile span {     /*profile desc*/
    color: var(--black);
    font-size: 1.5rem;
    display: block;
}

.header .navbar .btn {              /*view profile*/
    width: 100%;
    background-color: var(--branch-color); 
}

.header .navbar .flex-btn {         /*container of buttons below viewe profile*/
    display: flex;
    justify-content: space-between;
    gap: 1rem
}

.header .navbar .option-btn {
    background-color: var(--branch-color);
    width: 125px;
    margin: 8px 0;
}
.header .navbar .profile a {
    color: var(--black);
}

.header .navbar .profile a:hover {
    color: var(--white);
}


















/* media queries || resonsiveness in width*/

@media (max-width:991px) {              /*width 3/4 the screen*/

    html {
        font-size: 55%;
    }
    
    .header .navbar.active {
        display: flex;
    }
}

@media (max-width:768px) {          /*width half the screen*/

    .home .box img {
        height: 40vh;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 35%;
    }

    .header .flex .fa-bars {        /*icon*/
        display: inline-block;
    }
    
    .header .flex .right-buttons {        /*check avilability/login*/
        display: flex;
        align-items: center;

    }

    .header .flex .right-buttons .btn {        /*check avilability/login*/
        padding: 0;
        width: 100px;
    }

    .header .navbar {
        flex-flow: column;
        padding: 2rem;
        display: none;
    }

    .header .navbar .profile {           /*profile toggled*/
        position: absolute; 
        top: 100%; right: .1rem;   
        background-color: var(--white);
        border-radius: .5rem;
        padding: 1rem;
        text-align: center;
        width: 100%;
        transform: scale(0);
        transform-origin: top;    
        transition: .2s linear;        
        z-index: 1000; 
    } 

    .header .navbar .btn {              /*view profile*/
        width: 97%;
        background-color: var(--branch-color); 
    }
    
    .header .navbar .flex-btn {         /*container of buttons below viewe profile*/
        display: flex;
    }
    
    .header .navbar .option-btn {
        background-color: var(--branch-color);
        margin: 5px 10px;
        width: 100%;
    }

}

@media (max-width:450px) {          /*width 1/4 the screen closest to android phone (380px)*/

    html {
        font-size: 50%;
    }

    .header .flex .logo {
        font-size: 2rem;
    }

    .home .box img {
        height: 25rem;
    }

    .about .row .image img {
        width: 100%;
    }

    .header .navbar .flex-btn {         /*container of buttons below viewe profile*/
        display: flex;
    }
    
    .header .navbar .option-btn {
        background-color: var(--branch-color);
        margin: 5px;
    }

    .services .box-container {
        grid-template-columns: 1fr;

    }

}