
  
.account-settings {
    width: 100%;
    max-width: 1160px;
    margin: 7rem auto;
    overflow: hidden;
    padding: 20px;
    background-color: var(--branch-color);
    align-items: center;
}

/* Styling for the left column (profile, account details, password, logout) */
.account-settings .account-menu {
    float: left;
    width: 30%;
    padding: 20px;
    
}

.account-settings .account-menu ul {
    list-style-type: none;
    padding: 0;

}


.account-settings .account-menu ul li {
    border: 1px solid var(--black);
    background-color: var(--branch-color);
    padding: 20px;
    font-size: 2rem;
    cursor: pointer;
    transition: linear .2s;
}

.account-settings .account-menu li:hover {
    background-color: var(--main-color);
}

.account-settings .account-menu li a {
    color: var(--main-color);
    transition: linear .2s;
}

.account-settings .account-menu li:hover a {
    background-color: var(--main-color);
    color: var(--branch-color);

}

.account-settings .account-menu i {
    margin: 0 7px;
}

  /* Styling for the right column (account settings form) */
.account-settings .settings {
    float: left;
    width: 65%;
    padding: 20px;
    margin-left: 5%;
}

.account-settings .settings h2 {
    font-size: 3rem;
    margin-bottom: 45px;
    color: var(--black)
}

.account-settings .settings label {
    display: block;
    margin-top: 10px;
    font-size: 1.5rem;
    color: var(--black);
}

.account-settings .settings input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: var(--light-bg);

}
  
.account-settings button {
    font-size: 1.5rem;
    margin-top: 30px;
    cursor: pointer;
    background: var(--main-color);
    color: var(--branch-color);
    padding: 10px;
}

/* Styling for the profile picture
  .profile-picture {
    width: 100%;
    text-align: center;
}

.profile-picture img {
    width: 160px; 
    border-radius: 50%;
    margin-bottom: 2rem;
} */


/* Button hover effect */
.btn-update{
    background-color: var(--main-color) !important;
    font-size: 1.5rem !important;
    border: 1px solid transparent !important;

}
.btn-update:hover{
    border-radius: 10px;
    transition: 0.5s;
    border: 1px solid var(--main-color) !important;
    background-color: var(--branch-color) !important;
    color:  var(--main-color);
  }



  /* Add CSS for profile picture and change link */
  .profile-picture {
    width: 100%;    
    height: 160px;
    border-radius: 50%;
    position: relative;
    margin: auto;
    margin-bottom: 30px;
    
 }

 .profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 30px;

 }

  .profile-picture label {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: linear 1s;
    transform: translateX(-50%);
    background: var(--branch-color);
    color: var(--main-color);
    padding: 5px 5px;
    border: 1px solid var(--black);
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
  }

  .profile-picture:hover label {
    display: block;
  }

  .profile-picture input {
    background: var(--white);
  }

 