.employees {
    position: relative;
    height: 100vh;
}
.employees .addEmployee{
    font-size: 2rem;
    position: absolute;
    right: 3%;
    top: 7%;
    text-decoration: none;
    color: var(--main-color);
    cursor: pointer;
}


.employeesContainer {               /*horizontal scrholling*/
    overflow-x: auto; 
}


.employeesTable {
    margin: 5rem auto;
    border-collapse: collapse;
    width: 100%;
}


.employeesTable td, th {
    font-size: 1.8rem;
    padding: 20px 35px;
    text-align: center;
    white-space: nowrap;
    min-width: 150px; 
    color: var(--black);
    border-collapse: collapse;
    border: 1px solid var(--black);

    
}

.employeesTable th:hover {              /*hover entire cell of th*/
    background-color: var(--white);
}

.employeesTable th:hover:last-child {       /*option*/
    background-color: var(--light-bg);
}

.employeesTable .theader {
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: auto;
    gap: 1.5rem;
    font-size: 1.8rem;
}

.employeesTable .theaderMain {
    border: 1px solid var(--black);
}

.employeesTable td .option-btn {
    background-color: var(--main-color);
    color: var(--branch-color);
}

.employeesTable td .option-btn:hover {
    outline: 1px solid rgb(55, 36, 13);
    font-weight: 300;
    background-color: var(--branch-color);
    color: var(--main-color);
}

.employeesTable .arrows {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: auto;
}

.employeesTable .fas {
    padding: .5rem;
    margin: .2rem;
    background: var(--branch-color);
    color: var(--main-color);
    border-radius: 5px;
}



.employees .search-container {
    width: max-content;
    position: relative;

}



.employees .searchInput {
    padding: 1rem;
    border-radius: 5px;
    top: -10px;
    border: 1px solid var(--main-color);
}

.employees .pagination {
    display: flex;
    justify-content: flex-end;
    gap: 4rem;
    align-items: center;
    color: var(--black);
    padding: 1rem;
    margin: 1em;    
    
}

.employees .pagination button {
    color: var(--black);
    cursor: pointer;
    padding: 1rem;
    border-radius: 5px;
    width: 100px;
}

.employees .pagination button:hover {
    background-color: var(--white);
    outline: 1px solid var(--main-color);
    
}

.employees .pagination span {
    color: var(--light-color);
    font-family: cursive;
    border-bottom: 1px solid var(--black);
    font-size: 1.5rem;
}

@media (max-width:991px) {
   

    }
    /* .employeesTable td, th {
        font-size: 1.4rem;
        padding: 10px 20px;
    }

    .employeesTable td .option-btn {
        font-size: 1rem;
    } */
    

/* @media (max-width:771px) { */
    /* .employeesTable td, th {
        font-size: 10px;
        padding: 5px 8px;
        
    }
    .employeesTable td .option-btn {
        font-size: 8px;
        padding: 4px 5px;
    }

    .employees .addEmployee {
        font-size: 1.5rem;
    } */

    /* #search-btn {
        display: inline-block;
    }

    .headerAdmin .flex .search-form {
        position: absolute;
        top:90%; left: 0; right: 0;
        width: auto;
        border-top: var(--border);
        background-color: var(--white);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .2s linear;
    } */


    /* .headerAdmin .flex .search-form.active {                    
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    }

    .employeesTable {
        min-height: 300px;
    } */





    /* .employeesContainer {
        overflow-y: auto;
        max-height: 400px;
    } 


} */

/* @media (max-width:500px) {
    .employeesTable td, th {
        font-size: 9px;
        padding: 3px;
    }

    .employeesContainer {       
        overflow-y: auto;
        max-height: 400px;
    }

} */