.reviews-heading h1{              /*reviews-heading section*/
    color: var(--branch-color);
    font-size: 4rem;
    text-align: center;
    margin: 70px 0;

}

.reviews-container {          
    max-height: 600px;            /* Set a maximum height to make it scrollable */
    overflow-y: scroll;           /* Enable vertical scrolling */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Create responsive columns */
    gap: 60px;      
    width: 90%;
    margin: auto;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
}

.review {
    position: relative;
    display: flex;
    flex-direction: column;
}

.message {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px;
}

.message-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    text-align: center;
}

.message-left img {          /*image*/
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.message-left h3 {           /*name*/
    font-size: 18px;
    color: var(--branch-color);
    margin: 29px 0;

}

.message-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.message-right p {           /*message content*/
    font-size: 16px;
    margin-bottom: 10px; 
    color: var(--branch-color);
}


.message-right p:last-child {    /*date*/
    align-self: flex-end; 
    font-size: 14px; 
}

.replyContainer {
    display: flex;
    flex-direction: column;
    
}

.reply {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-self: flex-end;
    margin: auto 10px;
    padding: .5rem;
    border-radius: 7px;
    outline: 1px solid var(--white);
}

.reply-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;

}

.reply-left img {          /*image*/
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.reply-left h3 {           /*name*/
    font-size: 12px;
    color: var(--branch-color);
    margin: 10px 0;
    text-align: center;
}

.reply-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: .5rem;
}

.reply-right p {           /*reply content*/
    font-size: 12px;
    margin-bottom: 10px; 
    color: var(--branch-color);
}


.reply-right p:last-child {    /*date*/
    align-self: flex-end; 
    font-size: 10px; 
}


/*reply show / hide */ 
.reply-toggle-btn {
    cursor: pointer;
    margin: 10px;
    align-self: flex-end;
    background-color: var(--light-color);
    padding: .5rem;
    border-radius: 7px;
    color: var(--black);
}


.contactUs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contactUs .container {
    background-color: var(--main-color);
    display: flex;
    border-radius: 5px;
    text-align: center;   
    border: 1px solid var(--branch-color);
    grid-column-start: 2;

}
.contactUs .container .sendUsReview {
    font-size: 2.5rem;
    padding: 1rem 2rem;
    text-align: center;
    background-color: var(--branch-color);
    color: var(--main-color);

}

.contactUs .container .boxArea {
    border-bottom: 1px solid var(--white);
    width: 100%;
    background-color: var(--main-color);
    padding: 1rem 2rem;
    color: var(--white);

}

.contactUs .container .boxArea::placeholder {
    font-size: 1.5rem;
    color: var(--branch-color);
} 

.contactUs .container .reviewBtn {
    font-size: 1.8rem;
    color: var(--main-color);
    background-color: var(--branch-color);
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem;
    transition: .2s linear;
}

.contactUs .container .reviewBtn:hover {
    color: var(--branch-color);
    background: var(--main-color);
    outline: 1px solid var(--branch-color);
}