.reviews-heading h1{              /*reviews-heading section*/
    color: var(--branch-color);
    font-size: 4rem;
    text-align: center;
    margin: 70px 0;

}

.reviews-container {          
    max-height: 600px;            /* Set a maximum height to make it scrollable */
    overflow-y: scroll;           /* Enable vertical scrolling */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Create responsive columns */
    gap: 60px;      
    width: 90%;
    margin: auto;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);

}

.review {
    display: flex;
    padding: 10px;
}

.review-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.review-left img {          /*image*/
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.review-left h3 {           /*name*/
    font-size: 18px;
    color: var(--branch-color);
    margin: 29px 0;

}

.review-right {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.review-right p {           /*review content*/
    font-size: 16px;
    margin-bottom: 10px; 
    color: var(--branch-color);
}


.review-right p:last-child {    /*date*/
    align-self: flex-end; 
    font-size: 14px; 
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contact .row {
    background-color: var(--main-color);
    display: flex;
    border-radius: 5px;
    text-align: center;   
    border: 1px solid var(--branch-color);
}
.contact .row h3 {
    font-size: 2.5rem;
    padding: 1rem 2rem;
    text-align: center;
    background-color: var(--branch-color);
    color: var(--main-color);

}

.contact .row .boxArea {
    border-bottom: 1px solid var(--white);
    width: 100%;
    background-color: var(--main-color);
    padding: 1rem 2rem;
    color: var(--white);

}

.contact .row .boxArea::placeholder {
    font-size: 1.5rem;
    color: var(--branch-color);
} 

.contact .row .reviewBtn {
    font-size: 1.8rem;
    color: var(--main-color);
    background-color: var(--branch-color);
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem;
    transition: .2s linear;
}

.contact .row .reviewBtn:hover {
    color: var(--branch-color);
    background: var(--main-color);
    outline: 1px solid var(--branch-color);
}