.roomsAvailable {
    min-height: 100vh;
}

.roomsAvailable .roomState {
    display: flex;
}

.roomsAvailable .roomState a {
    font-size: 2rem;
    margin: 1rem 2rem;
    padding: 1rem;
    cursor: pointer;
    color: var(--black);
    outline: 1px solid var(--main-color);
    border-radius: 5px;
    transition: linear .2s;
}


.roomsAvailable .roomState a:hover {
    background: var(--main-color);
    color: var(--white);
    border-radius: 5px;
    
}

.roomsAvailable .roomState a.state {
    background: var(--main-color);
    color: var(--white);
    border-radius: 5px;
}

.roomsAvailable {
    position: relative;
}

.roomsAvailable .roomState select {
    border-radius: 5px;
    background-color: var(--light-bg);
    border-bottom: 1px solid var(--black);
    font-size: 2rem;
    margin: 1rem 0 0 2rem;
    height: 36px;
    cursor: pointer;
    color: var(--black);
}

.roomsAvailable .roomState .searchNadd {
    display: flex;
    flex-direction: column;
    align-items: end;
    flex: 1;
    gap: 1rem;
}


.roomsAvailable .addRoom{
    padding: 2px 8px;
    margin-right: 10px;
    display: block;
    direction: rtl;
}

.roomsAvailable .addRoom a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--main-color);
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 3px;
    border:1px solid #eeeeee;

}

.roomsAvailable .addRoom a:hover{
    cursor: pointer;
    transition: 0.5s;
    color: var(--main-color);
    border:1px solid var(--main-color);


}

.roomsAvailable .searchRoom {
    padding: 1rem 1rem;
    border-radius: 5px;
    outline: 1px solid var(--main-color);
    margin-right: 20px;
}

.roomsAvailable .roomsRow .roomsRowWrapper {
    display: flex;
    margin: 4rem 2rem;
    position: relative;
    border-bottom: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);

}

.roomsAvailable .roomsRow .roomsRowWrapper img {
    width: 20%;
    aspect-ratio: 3/2;
}

.roomsAvailable .roomsRow .roomsRowWrapper .roomDetails {
    display: flex;
    flex-direction: column;
    margin: 0 4.5rem;
    text-align: center;
    justify-content: center;
    min-width: 10vw;
}

.roomsAvailable .roomsRow .roomsRowWrapper .roomDetails p {
    font-size: 2rem;
    padding: 1rem 2rem;
    color: var(--black);
}

.roomsAvailable .roomsRow .roomsRowWrapper .roomDetails .sub-heading{
    font-size: 2.1rem;
    font-weight: 700;
    padding: 0.5rem 2rem;
    color: var(--black);
}

.roomsAvailable .roomsRow .roomsRowWrapper .roomDetails .sub{
    font-size: 1.5rem;
    font-style: italic;
    padding: 0.5rem 2rem;
    color: var(--black);
}

.roomsAvailable .roomsRow .roomsRowWrapper .roomButtons {
    position: absolute;
    right: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;

}

.roomsAvailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn-pencil {
    padding: 1.3rem 4rem;
    font-size: 1.6rem;
    margin: 1rem;
    border-radius: 5px;
    cursor: pointer;
    background: var(--main-color);
    color: var(--branch-color);
    position: relative;
    
}

.roomsAvailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn-trashcan {
    padding: 1.3rem 2rem;
    color: var(--branch-color);
    font-size: 1.6rem;
    cursor: pointer;
    margin: 1rem;
    border-radius: 5px;
    background: var(--main-color);
    position: relative;
}

.roomsAvailable .roomsRow .roomsRowWrapper .roomButtons .roomAvailability {
    padding: 1rem 1rem;
    color: var(--main-color);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1rem;
    border-radius: 5px;
    border: 1px solid var(--main-color);

}

.roomsAvailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn-pencil:hover:before,
.roomsAvailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn-trashcan:hover:before {
    position: absolute;
    right: 100%; /* Position it to the left of the button */
    transform: translateY(-50%); /* Adjust for centering */
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: var(--black);
    opacity: 0; 
    transition: opacity 2s;
}

.roomsAvailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn-pencil:hover:before {
    content: "Edit"; /* Display "Edit" when hovering over the pencil button */
}

.roomsAvailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn-trashcan:hover:before {
    content: "Delete"; /* Display "Delete" when hovering over the trashcan button */
}

.roomsAvailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn-pencil:hover,
.roomsAvailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn-trashcan:hover {
    color: var(--main-color);
    background-color: var(--branch-color);
    transition: 0.2s;
}

.roomsAvailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn-pencil:hover:before,
.roomsAvailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn-trashcan:hover:before {
    opacity: 1; /* Show the tooltip on hover */
}