  .detailsWrapper {
    margin: 50px auto;
    width: 88%;
    display: flex;
    background-color: var(--branch-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 75vh;
    position: relative;
    padding: 30px 20px;
  }
  
  .imageContainer {
    display: flex;
    position: relative;

  }
  
  .centeredText {
    text-align: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(14px, 3vw, 24px);
    background-color: rgba(220, 198, 156, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add the box shadow */
    border-radius: 15px;
    padding: 15px;
    font-weight: 600;

  }

  .imageContainer img {   /*image*/
    width: 100%;
  }
  
  .details {
    position: absolute;
    right: 2%;
    text-align: right;

  }
  
  .details h1 {
    font-size: 20px;
  }
  .details p {
    margin: 14px 0;
    font-size: 14px;
  }

  .details>a {
    margin-top: 20px;
    font-size: 15px;
    padding: 10px;
    color: var(--branch-color);
    background: var(--main-color);
    cursor: pointer;

  }

  @media (max-width: 788px) {


    .imageContainer img {   /*image*/
      width: 80%;
    }

    .centeredText { 
      display: none;
    }

    .detailsWrapper {
      padding: 10px;
    }

    .details h1 {
      font-size: 15px;
    }
    .details p {
      margin: 8px 0;
      font-size: 12px;
    }
  }

  @media (max-width: 610px) {
    .detailsWrapper {
      flex-direction: column;
      padding: 10px;
      position: relative;
    }

    .details {
      position: static;
      margin: 20px 0;
      text-align: left;

    }

    .imageContainer img {   /*image*/
      width: 100%;
    }

    .centeredText { 
      display: block;
    }
    .details>button {
      position: absolute;
      bottom: 5%;
      right: 5%;

    }
  }
