.roomsUnavailablePage {
    height: 100%;
}
.roomsUnavailable {
    min-height: 100vh;

}
.roomsUnavailable .roomState {
    display: flex;
}

.roomsUnavailable .roomState a {
    font-size: 2rem;
    margin: 1rem 2rem;
    padding: 1rem;
    cursor: pointer;
    color: var(--black);
}

.roomsUnavailable .roomState .searchNadd {
    display: flex;
}

.roomsUnavailable .roomState .searchRoom {
    padding: 1rem 1rem;
    border-radius: 5px;
    outline: 1px solid var(--main-color);
    margin-right: 20px;
    align-items: center;
}

.roomsUnavailable .roomState select {
    border-radius: 5px;
    background-color: var(--light-bg);
    border-bottom: 1px solid var(--black);
    font-size: 2rem;
    margin: 1rem 0 0 2rem;
    height: 36px;
    cursor: pointer;
    color: var(--black);
}

.roomsUnavailable .roomState a:hover {
    background: var(--main-color);
    color: var(--white);
    border-radius: 5px;
    
}

.roomsUnavailable .roomState a.state {
    background: var(--main-color);
    color: var(--white);
    border-radius: 5px;
}


.roomsUnavailable .roomState select {
    border-radius: 5px;
    background-color: var(--light-bg);
    border-bottom: 1px solid var(--black);
    font-size: 2rem;
    margin: 1rem 0 0 2rem;
    height: 36px;
    cursor: pointer;
    color: var(--black);
}

.roomsUnavailable .roomState .searchNadd{
    display: flex;
    flex-direction: column;
    align-items: end;
    flex: 1;
    gap: 1rem;
    /* margin-top: 10px; */
}


.roomsUnavailable {
    position: relative;
}

.roomsUnavailable .roomsRow .roomsRowWrapper {
    display: flex;
    margin: 4rem 2rem;
    position: relative;
    border-bottom: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);

}

.roomsUnavailable .roomsRow .roomsRowWrapper img {
    width: 20%;

    
}

.roomsUnavailable .roomsRow .roomsRowWrapper .roomDetails {
    display: flex;
    flex-direction: column;
    margin: 0 4.5rem;
    text-align: center;
    justify-content: center;
    min-width: 10vw;
}

.roomsUnavailable .roomsRow .roomsRowWrapper .roomDetails p {
    font-size: 2rem;
    padding: 1rem 2rem;
    color: var(--black);
}

.roomsUnavailable .roomsRow .roomsRowWrapper .roomDetails .sub-heading{
    font-size: 2.1rem;
    font-weight: 700;
    padding: 0.5rem 2rem;
    color: var(--black);
}

.roomsUnavailable .roomsRow .roomsRowWrapper .roomDetails .sub{
    font-size: 1.5rem;
    font-style: italic;
    padding: 0.5rem 2rem;
    color: var(--black);
}

.roomsUnavailable .roomsRow .roomsRowWrapper .roomButtons {
    position: absolute;
    right: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;

}

/* .roomsUnavailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn {
    padding: 1.3rem 2rem;
    color: #007BFF;
    font-size: 1.6rem;
    margin: 1rem;
    cursor: pointer;
    border-radius: 5px;
} */

/* .roomsUnavailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn:hover {
    color: var(--main-color);
    transition: 0.5s;
    

} */

.roomsUnavailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn-pencil {
    padding: 1.3rem 4rem;
    font-size: 1.6rem;
    margin: 1rem;
    border-radius: 5px;
    cursor: pointer;
    background: var(--main-color);
    color: var(--branch-color);
    position: relative;
    
}


.roomsUnavailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn-trashcan {
    padding: 1.3rem 2rem;
    font-size: 1.6rem;
    margin: 1rem;
    border-radius: 5px;
    cursor: pointer;
    background: var(--main-color);
    color: var(--branch-color);
    position: relative;
}


.roomsUnavailable .roomsRow .roomsRowWrapper .roomButtons .roomAvailability {
    padding: 1rem 1rem;
    color: var(--white);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    background: var(--light-color);

    min-width: 120px; /* Adjust the value as needed */
}


.roomsUnavailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn-pencil:hover:before,
.roomsUnavailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn-trashcan:hover:before {
    position: absolute;
    right: 100%; /* Position it to the left of the button */
    transform: translateY(-50%); /* Adjust for centering */
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: var(--black);
    opacity: 0; 
    transition: opacity 2s;
}

.roomsUnavailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn-pencil:hover:before {
    content: "Edit"; /* Display "Edit" when hovering over the pencil button */
}

.roomsUnavailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn-trashcan:hover:before {
    content: "Delete"; /* Display "Delete" when hovering over the trashcan button */
}

.roomsUnavailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn-pencil:hover,
.roomsUnavailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn-trashcan:hover {
    color: var(--main-color);
    background-color: var(--branch-color);
    transition: 0.2s;
}

.roomsUnavailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn-pencil:hover:before,
.roomsUnavailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn-trashcan:hover:before {
    opacity: 1; /* Show the tooltip on hover */
}



.modal {
    background: var(--branch-color);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    border: 1.3px solid #2B1103;

    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 1000 !important; /* Ensure the modal appears on top of other elements */

  }

  .modal-overlay {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    background: rgba(0, 0, 0, 0.5) !important; /* Semi-transparent gray background */
    z-index: 999 !important; /* Ensure the overlay appears above the content */
}
  
  .modal p {
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--main-color);
  }
  
  .modal button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--branch-color);
    border: 1px solid var(--main-color);
    border-radius: 8px;
  }

  .modal button:hover {
    transition: 0.5s;
    background-color: var(--branch-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0,0,0,.4);

  }
