.roomsUnavailable .roomState {
    display: flex;
}

.roomsUnavailable .roomState a {
    font-size: 2rem;
    margin: 1rem 2rem;
    padding: 1rem;
    cursor: pointer;
    color: var(--black);
}


.roomsUnavailable .roomState a:hover {
    background: var(--main-color);
    color: var(--white);
    border-radius: 5px;
    
}

.roomsUnavailable .roomState a.state {
    background: var(--main-color);
    color: var(--white);
    border-radius: 5px;
}

.roomsUnavailable {
    position: relative;
}

/* .roomsUnavailable .addRoom{
    font-size: 2rem;
    position: absolute;
    right: 4%;
    top: 9%;
    text-decoration: none;
    color: var(--main-color);
    cursor: pointer;
} */


.roomsUnavailable .roomsRow .roomsRowWrapper {
    display: flex;
    margin: 4rem 2rem;
    position: relative;
    border-bottom: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);

}

.roomsUnavailable .roomsRow .roomsRowWrapper img {
    width: 15%;
    
}

.roomsUnavailable .roomsRow .roomsRowWrapper .roomDetails {
    display: flex;
    flex-direction: column;
    margin: 0 4.5rem;
    text-align: center;
    justify-content: center;
    min-width: 10vw;
}

.roomsUnavailable .roomsRow .roomsRowWrapper .roomDetails p {
    font-size: 2rem;
    padding: 1rem 2rem;
    color: var(--black);
}

.roomsUnavailable .roomsRow .roomsRowWrapper .roomDetails .sub-heading{
    font-size: 2.1rem;
    font-weight: 700;
    padding: 0.5rem 2rem;
    color: var(--black);
}

.roomsUnavailable .roomsRow .roomsRowWrapper .roomDetails .sub{
    font-size: 1.5rem;
    font-style: italic;
    padding: 0.5rem 2rem;
    color: var(--black);
}

.roomsUnavailable .roomsRow .roomsRowWrapper .roomButtons {
    position: absolute;
    right: 0;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.roomsUnavailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn {
    padding: 1.3rem 2rem;
    background: var(--main-color);
    color: var(--white);
    font-size: 1.5rem;
    margin: 1rem;
    border-radius: 5px;
}
.roomsUnavailable .roomsRow .roomsRowWrapper .roomButtons .roomBtn:hover {
    background: var(--branch-color);
    color: var(--main-color);
    outline: 1px solid black;
}

.roomsUnavailable .roomsRow .roomsRowWrapper .roomButtons .roomAvailability {
    padding: 1rem 1rem;
    color: var(--main-color);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1rem;
    border-radius: 5px;
    border: 1px solid var(--main-color);

}


