.BookingHistoryDetails {
    margin: 5rem auto;
    background: var(--branch-color);
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    border-radius: 5px;
    

}
.BookingHistoryDetails .left .roomTxt {
    color: var(--black);
    font-weight: 700;
    font-size: 2rem;
    top: 0;
    left: 0;
    padding: 0.8rem 1rem;
    border-radius: 10px;
}

.BookingHistoryDetails .left {
    position: relative;
}

.BookingHistoryDetails .left img {
    width: 50vw;
    border-radius: 5px;
    aspect-ratio: 4/2.5;
}

.BookingHistoryDetails .right h1 {
    font-size: 2.4rem;
    margin: 2.5rem 0;

}

.BookingHistoryDetails .right p {
    font-size: 1.8rem;
    margin: 1.5rem 0;
}

@media (max-width: 888px) {
    .BookingHistoryDetails {
        grid-template-columns: 2fr 1fr;
    } 

    

    .BookingHistoryDetails .right h1 {
        font-size: 2rem;
        margin: 1rem 0;
    }
    
    .BookingHistoryDetails .right p {
        font-size: 1.5rem;
        margin: 1.3rem 0;
    }
}

@media (max-width: 666px) {
    .BookingHistoryDetails {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 4rem;
        
    } 
    .BookingHistoryDetails .left .roomTxt {
        position: static;
        font-size: 2rem;

    }

    .BookingHistoryDetails .left img {
        height: 90%;
        width: 100%;

    }

    .BookingHistoryDetails .right h1 {
        font-size: 2.5rem;
        margin: 2rem;
    }
    
    .BookingHistoryDetails .right p {
        font-size: 1.8rem;
        margin: 2rem;
    }


}