.loginAdminContainer {
    font-size: 2em;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: 
        linear-gradient(to bottom right, var(--main-color) 50%, var(--branch-color) 80%, var(--white)100%);
    
    height: 70vh;
    max-width: 79vh;
    padding: 1%;
    border-radius: 5px;
    color: var(--white);

}

.loginAdminContainer .heading {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: var(--white);

}



label {
    display: inline-block;
}

input[type="text"], input[type="password"] {
    width:100%;
    padding: 8px;
    margin: 10px 0 20px 0;
    border-radius: 5px;

  }

form .loginAdminBtn {
    padding: 10px 20px;
    font-size: 2rem;
    background-color: var(--main-color);
    color: var(--branch-color);
    border-radius: 5px;
    display: flex;
    margin: 2rem 0;
    width: max-content;
    box-shadow: 4px -2px 15px rgba(245, 222, 179, 0.6);
    transition: 0.3s linear;
    border:1px solid var(--white);
    
}

form .loginAdminBtn:active {
    margin: 14px 0 0 8px;
    box-shadow: none;
    
}

form .loginAdminBtn:hover {
    background-color: var(--light-bg);
    color: var(--main-color);
    border: 2px solid black;
    border-radius: 12px;
}