div.loginAdmin {
    font-size: 2em;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
div.loginText {
    font-size: 2.5em;
    margin: 20px;
}

.back {
    position: relative;
    left: 80px;
    padding: 10px;
    background-color: var(--main-color);
    color: var(--branch-color);
    border-radius: 5px;
    display: block;
    width: max-content;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.4);
    transition: 0.3s linear;
}

.back:active {
    margin: 5px 0 0 5px;
    box-shadow: none;
}

.back:hover {
    background-color: var(--branch-color);
    color: var(--main-color);
    outline:2px solid rgb(55, 36, 13);
}