.contact-heading h1{              /*contact-heading section*/
    color: var(--branch-color);
    font-size: 4rem;
    text-align: center;
    margin: 70px 0;

}

.contact-heading img {
    border-radius: .5rem;
    height: 80vh;
    width: 100%;
    object-fit: cover;     
}


/* home.css */

/* Styles for the search input and button */
.search-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .search-input {
    padding: 8px;
    font-size: 16px;
  }
  
  .search-button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--branch-color); /* Green */
    color: var(--main-color);
    border: none;
  }
  
  /* Styles for weather information */
  .weather-container {
    text-align: center;
    margin-top: 20px;
    background-color: var(--branch-color);
    padding: 2em;
    margin-left: 20em;
    margin-right: 20em;

  }
  
  .weather-info {
    font-size: 18px;
  }
  
  /* Add more styles as needed */
  